.flexbox {
  display: flex;
  margin-bottom: 20px;
}

.lisa {
  flex: 1;
  max-width: 32%;
  margin-right: 15px;
}

.youtube-container {
  display: flex;
}

.youtube {
  flex: 1;
  max-width: 80%;
  margin-bottom: 15px
}
